/* App.css */
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6; /* Light background color */
}

.container {
  width: 300px;
  padding: 40px 30px; /* Updated padding */
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  text-align: center; /* Center align text */
}

.blue-button, .link-button {
  display: block;
  width: 100%;
  background-color: #007bff; /* Blue color */
  color: #fff; /* White text */
  padding: 12px; /* Padding for buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Updated margin */
  text-align: center;
  font-size: 16px; /* Font size */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.blue-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.link-button {
  background-color: transparent; /* Transparent background */
  color: #007bff; /* Blue color */
  border: none;
}

.link-button:hover {
  color: #0056b3; /* Darker shade on hover */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px; /* Padding for input fields */
  margin-bottom: 20px; /* Spacing between input fields */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Border radius */
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none; /* Remove outline on focus */
  border-color: #007bff; /* Change border color on focus */
}

h2 {
  margin-bottom: 20px; /* Spacing below heading */
}
